# Предсказание цены автомобиля

Сервис по продаже автомобилей с пробегом разрабатывает приложение для привлечения новых клиентов. В нём можно быстро узнать рыночную стоимость своего автомобиля. В нашем распоряжении исторические данные: технические характеристики, комплектации и цены автомобилей. Нам нужно построить модель для определения стоимости. 

Заказчику важны:

- качество предсказания;
- скорость предсказания;
- время обучения.

# 1. Подготовка данных

### Описание данных

#### Признаки
- *DateCrawled* — дата скачивания анкеты из базы
- *VehicleType* — тип автомобильного кузова
- *RegistrationYear* — год регистрации автомобиля
- *Gearbox* — тип коробки передач
- *Power* — мощность (л. с.)
- *Model* — модель автомобиля
- *Kilometer* — пробег (км)
- *RegistrationMonth* — месяц регистрации автомобиля
- *FuelType* — тип топлива
- *Brand* — марка автомобиля
- *NotRepaired* — была машина в ремонте или нет
- *DateCreated* — дата создания анкеты
- *NumberOfPictures* — количество фотографий автомобиля
- *PostalCode* — почтовый индекс владельца анкеты (пользователя)
- *LastSeen* — дата последней активности пользователя

#### Целевой признак
 *Price* — цена (евро)

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from catboost import CatBoostRegressor, Pool, cv
import lightgbm as lgb

cars = pd.read_csv('/datasets/autos.csv')
cars

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,2016-03-24 11:52:17,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354364,2016-03-21 09:50:58,0,NaN,2005,manual,0,colt,150000,7,petrol,mitsubishi,yes,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
354365,2016-03-14 17:48:27,2200,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
354366,2016-03-05 19:56:21,1199,convertible,2000,auto,101,fortwo,125000,3,petrol,smart,no,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
354367,2016-03-19 18:57:12,9200,bus,1996,manual,102,transporter,150000,3,gasoline,volkswagen,no,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
354368,2016-03-20 19:41:08,3400,wagon,2002,manual,100,golf,150000,6,gasoline,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21

In [2]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
DateCrawled          354369 non-null object
Price                354369 non-null int64
VehicleType          316879 non-null object
RegistrationYear     354369 non-null int64
Gearbox              334536 non-null object
Power                354369 non-null int64
Model                334664 non-null object
Kilometer            354369 non-null int64
RegistrationMonth    354369 non-null int64
FuelType             321474 non-null object
Brand                354369 non-null object
NotRepaired          283215 non-null object
DateCreated          354369 non-null object
NumberOfPictures     354369 non-null int64
PostalCode           354369 non-null int64
LastSeen             354369 non-null object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

В данных наблюдается достаточно много пропусков, в столбцах *Price* и *Power* замечены нулевые значения, что тоже является по своей сути пропусками, т.к. у авто не может быть нулевой мощности или стоимости.

In [3]:
cars.describe()

,Price,RegistrationYear,Power,Kilometer,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

В столбце *RegistrationYear* замечены аномальные значения: слишком маленький год, например, 1000 (вряд ли 1000-ом году существовали автомобили, также аномально высокие значения - 9999 год. В столбце *Power* также присутствуют аномально высокие значения: 20000 л.с. - таких значений не бывает даже у танков, хотя может это машина из будущего...

Уберем все машины из будущего и те, что раньше 1900 годя, т.к. сложно говорить о серийном выпуске автомобилей в то время, тогда он только зарождался.

In [4]:
cars_new = cars.loc[(cars['RegistrationYear'] > 1945) & (cars['RegistrationYear'] < 2020)]

In [5]:
# Уберем строки с нулевой ценой
cars_new = cars_new.loc[cars_new['Price'] > 0]

In [6]:
# Уберем нулевую мощность и аномально высокую. Суперкары имеют мощность в районе 1600 л.с. и до 2100 л.с. (но это уже единичные модели)
# Ограничемся значением 1000 л.с., что, однако, тоже может быть много для наших данных.
cars_new = cars_new.loc[(cars_new['Power'] < 1000) & (cars_new['Power'] > 0)]

Заменим пропуски в категориальных столбцах значениями "unk".

In [8]:
cat_columns = ["VehicleType", "Gearbox", "Model", "FuelType", "Brand", "NotRepaired"]

In [9]:
cars_new[cat_columns] = cars_new[cat_columns].fillna('unk')

In [10]:
cars_new

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,unk,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,unk,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,650,sedan,1995,manual,102,3er,150000,10,petrol,bmw,yes,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354361,2016-03-09 13:37:43,5250,unk,2016,auto,150,159,150000,12,unk,alfa_romeo,no,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
354362,2016-03-19 19:53:49,3200,sedan,2004,manual,225,leon,150000,5,petrol,seat,yes,2016-03-19 00:00:00,0,96465,2016-03-19 20:44:43
354366,2016-03-05 19:56:21,1199,convertible,2000,auto,101,fortwo,125000,3,petrol,smart,no,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
354367,2016-03-19 18:57:12,9200,bus,1996,manual,102,transporter,150000,3,gasoline,volkswagen,no,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
354368,2016-03-20 19:41:08,3400,wagon,2002,manual,100,golf,150000,6,gasoline,volkswagen,unk,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21

In [11]:
cars_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306872 entries, 1 to 354368
Data columns (total 16 columns):
DateCrawled          306872 non-null object
Price                306872 non-null int64
VehicleType          306872 non-null object
RegistrationYear     306872 non-null int64
Gearbox              306872 non-null object
Power                306872 non-null int64
Model                306872 non-null object
Kilometer            306872 non-null int64
RegistrationMonth    306872 non-null int64
FuelType             306872 non-null object
Brand                306872 non-null object
NotRepaired          306872 non-null object
DateCreated          306872 non-null object
NumberOfPictures     306872 non-null int64
PostalCode           306872 non-null int64
LastSeen             306872 non-null object
dtypes: int64(7), object(9)
memory usage: 39.8+ MB

In [12]:
cars_new.describe()

,Price,RegistrationYear,Power,Kilometer,RegistrationMonth,NumberOfPictures,PostalCode
count,306872.000000,306872.000000,306872.000000,306872.000000,306872.000000,306872.0,306872.000000
mean,4810.601691,2003.310064,120.354451,128430.062045,5.964093,0.0,51154.805779
std,4586.557841,6.900593,54.648570,36725.905935,3.599911,0.0,25768.489407
min,1.000000,1947.000000,1.000000,5000.000000,0.000000,0.0,1067.000000
25%,1300.000000,1999.000000,75.000000,125000.000000,3.000000,0.0,30916.000000
50%,3100.000000,2003.000000,110.000000,150000.000000,6.000000,0.0,50170.000000
75%,6950.000000,2008.000000,150.000000,150000.000000,9.000000,0.0,71717.000000
max,20000.000000,2019.000000,999.000000,150000.000000,12.000000,0.0,99998.000000

In [13]:
#Уберем Price меньше 100 евро и Power меньше 10 л.с. (нашел на авто.ру минимальную мощность 10 л.с.)
cars_new = cars_new.loc[(cars_new['Price'] > 100) & (cars_new['Power'] >= 10)]

Столбцы *DateCrawled*, *RegistrationMonth*, *DateCreated*, *NumberOfPictures*, *PostalCode*, *LastSeen* будут лишними для обучения модели, так как не являются характеристиками автомобилей.

In [14]:
features_train, features_test, target_train, target_test = train_test_split(
    cars_new.drop(['DateCrawled', 'Price', 'RegistrationMonth', 'DateCreated', 'NumberOfPictures', 'PostalCode', 'LastSeen'], axis=1), cars_new.Price, test_size=0.25, random_state=12345)

Данные подготовлены для обучения моделей.

# 2. Обучение моделей

In [15]:
#Обучим модель градиентного бустинга из catboost применив кросс-валидацию
cv_cars = Pool(data=features_train,
              label=target_train,
              cat_features=cat_columns)

In [16]:
#Сохраняем данные специальной функцией Pool для избежания лишнего копирования
pool_test = Pool(data=features_test, label=target_test, cat_features=cat_columns)

In [17]:
#Параметры модели
params = {'iterations': 1000,
         'depth': 6,
         'loss_function': 'RMSE',
          'learning_rate': 0.1,
         'verbose': 20,
         'random_state': 12345}

In [18]:
scores = cv(cv_cars, params, fold_count=3, plot=False, as_pandas=True)

0:	learn: 6121.9946045	test: 6121.7997619	best: 6121.7997619 (0)	total: 2.92s	remaining: 48m 35s
20:	learn: 2248.5585344	test: 2251.2046728	best: 2251.2046728 (20)	total: 45.1s	remaining: 35m 4s
40:	learn: 1920.9235629	test: 1923.5145233	best: 1923.5145233 (40)	total: 1m 21s	remaining: 31m 48s
60:	learn: 1846.4238682	test: 1851.0629407	best: 1851.0629407 (60)	total: 2m 1s	remaining: 31m 10s
80:	learn: 1803.1265377	test: 1810.8279195	best: 1810.8279195 (80)	total: 2m 40s	remaining: 30m 17s
100:	learn: 1774.1477301	test: 1784.2715969	best: 1784.2715969 (100)	total: 3m 19s	remaining: 29m 39s
120:	learn: 1751.0511377	test: 1763.5263829	best: 1763.5263829 (120)	total: 3m 58s	remaining: 28m 55s
140:	learn: 1731.4285338	test: 1746.7887988	best: 1746.7887988 (140)	total: 4m 39s	remaining: 28m 21s
160:	learn: 1715.6082148	test: 1733.2823605	best: 1733.2823605 (160)	total: 5m 18s	remaining: 27m 41s
180:	learn: 1701.0364108	test: 1720.6385509	best: 1720.6385509 (180)	total: 5m 58s	remaining: 27m
200:	learn: 1687.6915500	test: 1709.9764904	best: 1709.9764904 (200)	total: 6m 36s	remaining: 26m 16s
220:	learn: 1677.7675130	test: 1702.1040630	best: 1702.1040630 (220)	total: 7m 15s	remaining: 25m 33s
240:	learn: 1669.3210919	test: 1695.3816611	best: 1695.3816611 (240)	total: 7m 53s	remaining: 24m 50s
260:	learn: 1660.7335653	test: 1689.3855104	best: 1689.3855104 (260)	total: 8m 32s	remaining: 24m 11s
280:	learn: 1653.8756908	test: 1683.9614186	best: 1683.9614186 (280)	total: 9m 11s	remaining: 23m 32s
300:	learn: 1647.5800336	test: 1679.7054793	best: 1679.7054793 (300)	total: 9m 51s	remaining: 22m 53s
320:	learn: 1641.4530864	test: 1675.4032742	best: 1675.4032742 (320)	total: 10m 29s	remaining: 22m 11s
340:	learn: 1634.8751575	test: 1670.7505662	best: 1670.7505662 (340)	total: 11m 7s	remaining: 21m 30s
360:	learn: 1629.6126066	test: 1667.6145888	best: 1667.6145888 (360)	total: 11m 46s	remaining: 20m 50s
380:	learn: 1624.3668162	test: 1664.1296234	best: 1664.1296234 (380)	total: 12m 25s	remaining: 20m 11s
400:	learn: 1619.4853540	test: 1660.9303091	best: 1660.9303091 (400)	total: 13m 5s	remaining: 19m 32s
420:	learn: 1614.9194218	test: 1658.2164679	best: 1658.2164679 (420)	total: 13m 45s	remaining: 18m 55s
440:	learn: 1610.0854198	test: 1655.1889232	best: 1655.1889232 (440)	total: 14m 25s	remaining: 18m 16s
460:	learn: 1605.5303828	test: 1652.1536323	best: 1652.1536323 (460)	total: 15m 4s	remaining: 17m 37s
480:	learn: 1601.5008609	test: 1649.7154475	best: 1649.7154475 (480)	total: 15m 46s	remaining: 17m
500:	learn: 1597.2652181	test: 1646.8958790	best: 1646.8958790 (500)	total: 16m 26s	remaining: 16m 22s
520:	learn: 1593.7877803	test: 1644.7221529	best: 1644.7221529 (520)	total: 17m 6s	remaining: 15m 43s
540:	learn: 1590.5720459	test: 1642.9099802	best: 1642.9099802 (540)	total: 17m 47s	remaining: 15m 5s
560:	learn: 1587.0689800	test: 1640.7654478	best: 1640.7654478 (560)	total: 18m 27s	remaining: 14m 26s
580:	learn: 1583.3813209	test: 1638.4116169	best: 1638.4116169 (580)	total: 19m 9s	remaining: 13m 49s
600:	learn: 1580.4098564	test: 1636.9345757	best: 1636.9345757 (600)	total: 19m 52s	remaining: 13m 11s
620:	learn: 1577.7680227	test: 1635.7440153	best: 1635.7440153 (620)	total: 20m 33s	remaining: 12m 32s
640:	learn: 1574.7990625	test: 1633.8391066	best: 1633.8391066 (640)	total: 21m 13s	remaining: 11m 53s
660:	learn: 1571.6357926	test: 1632.1837682	best: 1632.1837682 (660)	total: 21m 53s	remaining: 11m 13s
680:	learn: 1568.7868650	test: 1630.5347691	best: 1630.5347691 (680)	total: 22m 34s	remaining: 10m 34s
700:	learn: 1565.7301861	test: 1628.8521142	best: 1628.8521142 (700)	total: 23m 16s	remaining: 9m 55s
720:	learn: 1562.9343737	test: 1627.2625963	best: 1627.2625963 (720)	total: 23m 59s	remaining: 9m 17s
740:	learn: 1560.3688317	test: 1625.7972662	best: 1625.7972662 (740)	total: 24m 39s	remaining: 8m 37s
760:	learn: 1558.0674566	test: 1624.5866700	best: 1624.5866700 (760)	total: 25m 21s	remaining: 7m 57s
780:	learn: 1555.5672901	test: 1623.3151533	best: 1623.3151533 (780)	total: 26m 4s	remaining: 7m 18s
800:	learn: 1553.1074019	test: 1622.0514481	best: 1622.0514481 (800)	total: 26m 46s	remaining: 6m 39s
820:	learn: 1550.8380094	test: 1620.9493031	best: 1620.9493031 (820)	total: 27m 28s	remaining: 5m 59s
840:	learn: 1548.6991445	test: 1619.8837269	best: 1619.8837269 (840)	total: 28m 8s	remaining: 5m 19s
860:	learn: 1546.2969249	test: 1618.6351674	best: 1618.6351674 (860)	total: 28m 50s	remaining: 4m 39s
880:	learn: 1544.2001938	test: 1617.7471761	best: 1617.7471761 (880)	total: 29m 33s	remaining: 3m 59s
900:	learn: 1541.6395454	test: 1616.6447808	best: 1616.6447808 (900)	total: 30m 15s	remaining: 3m 19s
920:	learn: 1539.3847445	test: 1615.7731760	best: 1615.7731760 (920)	total: 30m 57s	remaining: 2m 39s
940:	learn: 1537.4454110	test: 1615.0129011	best: 1615.0129011 (940)	total: 31m 39s	remaining: 1m 59s
960:	learn: 1535.5079493	test: 1614.1670728	best: 1614.1670728 (960)	total: 32m 20s	remaining: 1m 18s
980:	learn: 1533.5141204	test: 1613.1133876	best: 1613.1133876 (980)	total: 33m 2s	remaining: 38.4s
999:	learn: 1531.7105562	test: 1612.3194414	best: 1612.3194414 (999)	total: 33m 40s	remaining: 0us

In [19]:
params2 = {'iterations': 500,
         'depth': 12,
         'loss_function': 'RMSE',
          'learning_rate': 0.1,
         'verbose': 20,
         'random_state': 12345}

In [20]:
cv(cv_cars, params2, fold_count=3, plot=False, as_pandas=True)

0:	learn: 6105.7160210	test: 6108.1252942	best: 6108.1252942 (0)	total: 6.11s	remaining: 50m 47s
20:	learn: 2015.3594744	test: 2044.8018882	best: 2044.8018882 (20)	total: 1m 44s	remaining: 39m 33s
40:	learn: 1684.4916469	test: 1737.6901164	best: 1737.6901164 (40)	total: 3m 23s	remaining: 37m 57s
60:	learn: 1611.2741092	test: 1683.3368226	best: 1683.3368226 (60)	total: 5m 8s	remaining: 36m 56s
80:	learn: 1569.0855266	test: 1658.0050906	best: 1658.0050906 (80)	total: 6m 57s	remaining: 36m 1s
100:	learn: 1533.7482596	test: 1639.6693209	best: 1639.6693209 (100)	total: 8m 53s	remaining: 35m 7s
120:	learn: 1505.7830709	test: 1626.5980686	best: 1626.5980686 (120)	total: 10m 45s	remaining: 33m 43s
140:	learn: 1480.2771930	test: 1614.9791863	best: 1614.9791863 (140)	total: 12m 40s	remaining: 32m 15s
160:	learn: 1460.9176818	test: 1606.1166782	best: 1606.1166782 (160)	total: 14m 34s	remaining: 30m 41s
180:	learn: 1445.1537394	test: 1599.8745407	best: 1599.8745407 (180)	total: 16m 27s	remaining: 29m 1s
200:	learn: 1430.3708675	test: 1595.0579691	best: 1595.0579691 (200)	total: 18m 25s	remaining: 27m 23s
220:	learn: 1416.5104565	test: 1590.5072582	best: 1590.5072582 (220)	total: 20m 24s	remaining: 25m 45s
240:	learn: 1403.8935811	test: 1586.5985864	best: 1586.5985864 (240)	total: 22m 27s	remaining: 24m 7s
260:	learn: 1390.5502762	test: 1582.9573175	best: 1582.9573175 (260)	total: 24m 26s	remaining: 22m 22s
280:	learn: 1378.8828514	test: 1579.7314719	best: 1579.7314719 (280)	total: 26m 27s	remaining: 20m 37s
300:	learn: 1367.4172338	test: 1576.5792729	best: 1576.5792729 (300)	total: 28m 26s	remaining: 18m 48s
320:	learn: 1355.8243043	test: 1573.5645513	best: 1573.5645513 (320)	total: 30m 26s	remaining: 16m 58s
340:	learn: 1347.1443436	test: 1571.4972081	best: 1571.4972081 (340)	total: 32m 28s	remaining: 15m 8s
360:	learn: 1337.9305777	test: 1569.6668350	best: 1569.6668350 (360)	total: 34m 31s	remaining: 13m 17s
380:	learn: 1328.5560656	test: 1567.6669939	best: 1567.6669939 (380)	total: 36m 32s	remaining: 11m 24s
400:	learn: 1320.0544639	test: 1566.3565565	best: 1566.3565565 (400)	total: 38m 35s	remaining: 9m 31s
420:	learn: 1311.1459243	test: 1564.7480285	best: 1564.7480285 (420)	total: 40m 37s	remaining: 7m 37s
440:	learn: 1302.6181995	test: 1563.1473502	best: 1563.1473502 (440)	total: 42m 41s	remaining: 5m 42s
460:	learn: 1294.4261384	test: 1561.8111423	best: 1561.8111423 (460)	total: 44m 41s	remaining: 3m 46s
480:	learn: 1287.3887170	test: 1560.4363740	best: 1560.4363740 (480)	total: 46m 45s	remaining: 1m 50s
499:	learn: 1281.6546216	test: 1559.7135367	best: 1559.7135367 (499)	total: 48m 41s	remaining: 0us

,iterations,test-RMSE-mean,test-RMSE-std,train-RMSE-mean,train-RMSE-std
0,0,6108.125294,34.534339,6105.716021,15.995754
1,1,5600.304138,39.436142,5597.223080,13.783993
2,2,5145.625796,37.013729,5140.883042,13.711362
3,3,4734.649569,39.740305,4729.499597,10.344687
4,4,4376.874875,33.400717,4370.610872,14.246881
...,...,...,...,...,...
495,495,1559.865423,13.415643,1282.736773,3.833117
496,496,1559.821778,13.377103,1282.622231,3.771516
497,497,1559.771385,13.345554,1282.263643,3.921894
498,498,1559.733276,13.367849,1282.013041,3.938931
499,499,1559.713537,13.338456,1281.654622,4.088104

Лучшая rmse получилась с depth=12.

Обучим модель из LightGBM тоже применив кросс-валидацию.

In [21]:
#Категориальные признаки преобразуем в формат "category"
features_train_lgb = features_train.copy()
features_train_lgb[cat_columns] = features_train_lgb[cat_columns].astype('category')

In [49]:
#Параметры модели
lgb_params = {'metric': 'rmse',
              'objective': 'regression',
             'num_boost_round': 2000,
             'stratified': False,
             'random_state': 12345,
             'max_depth': 12,
             'learning_rate': 0.1}

In [35]:
lgb_train = lgb.Dataset(features_train_lgb, target_train)

In [50]:
%%time
lgb.cv(lgb_params, lgb_train, verbose_eval=20)

/opt/conda/lib/python3.7/site-packages/lightgbm/engine.py:503: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

[20]	cv_agg's rmse: 1963.68 + 7.35262
[40]	cv_agg's rmse: 1719.07 + 11.5202
[60]	cv_agg's rmse: 1666.06 + 12.0759
[80]	cv_agg's rmse: 1642.42 + 10.3916
[100]	cv_agg's rmse: 1628.74 + 10.8849
[120]	cv_agg's rmse: 1618.34 + 10.2438
[140]	cv_agg's rmse: 1610.1 + 10.2178
[160]	cv_agg's rmse: 1603.03 + 9.4201
[180]	cv_agg's rmse: 1597.4 + 8.848
[200]	cv_agg's rmse: 1593.09 + 9.53574
[220]	cv_agg's rmse: 1589.04 + 8.77717
[240]	cv_agg's rmse: 1585.56 + 8.78528
[260]	cv_agg's rmse: 1581.76 + 8.56311
[280]	cv_agg's rmse: 1578.83 + 8.66342
[300]	cv_agg's rmse: 1576.25 + 9.02427
[320]	cv_agg's rmse: 1573.52 + 9.12857
[340]	cv_agg's rmse: 1571.01 + 9.22936
[360]	cv_agg's rmse: 1568.73 + 9.16392
[380]	cv_agg's rmse: 1566.89 + 8.9799
[400]	cv_agg's rmse: 1565.07 + 9.08274
[420]	cv_agg's rmse: 1563.26 + 9.04258
[440]	cv_agg's rmse: 1561.63 + 9.02997
[460]	cv_agg's rmse: 1560.06 + 9.032
[480]	cv_agg's rmse: 1558.75 + 9.27422
[500]	cv_agg's rmse: 1557.62 + 9.38336
[520]	cv_agg's rmse: 1556.46 + 9.40854
[540]	cv_agg's rmse: 1554.98 + 9.34263
[560]	cv_agg's rmse: 1553.59 + 9.27219
[580]	cv_agg's rmse: 1552.49 + 9.10697
[600]	cv_agg's rmse: 1551.15 + 8.99156
[620]	cv_agg's rmse: 1549.84 + 8.68128
[640]	cv_agg's rmse: 1548.95 + 8.5564
[660]	cv_agg's rmse: 1548.04 + 8.44669
[680]	cv_agg's rmse: 1546.84 + 8.27577
[700]	cv_agg's rmse: 1546 + 8.30135
[720]	cv_agg's rmse: 1545.29 + 8.09
[740]	cv_agg's rmse: 1544.4 + 8.21896
[760]	cv_agg's rmse: 1543.21 + 8.16585
[780]	cv_agg's rmse: 1542.43 + 8.28743
[800]	cv_agg's rmse: 1541.54 + 8.48949
[820]	cv_agg's rmse: 1540.75 + 8.45142
[840]	cv_agg's rmse: 1539.73 + 8.73021
[860]	cv_agg's rmse: 1539 + 8.73793
[880]	cv_agg's rmse: 1538.44 + 8.84604
[900]	cv_agg's rmse: 1537.92 + 8.62981
[920]	cv_agg's rmse: 1537.3 + 8.61365
[940]	cv_agg's rmse: 1536.72 + 8.49399
[960]	cv_agg's rmse: 1536.06 + 8.69554
[980]	cv_agg's rmse: 1535.43 + 8.68769
[1000]	cv_agg's rmse: 1535.14 + 8.66454
[1020]	cv_agg's rmse: 1534.64 + 8.59372
[1040]	cv_agg's rmse: 1534.24 + 8.52466
[1060]	cv_agg's rmse: 1533.79 + 8.39887
[1080]	cv_agg's rmse: 1533.4 + 8.23519
[1100]	cv_agg's rmse: 1532.93 + 8.07548
[1120]	cv_agg's rmse: 1532.42 + 8.13828
[1140]	cv_agg's rmse: 1532.14 + 8.45543
[1160]	cv_agg's rmse: 1531.82 + 8.23743
[1180]	cv_agg's rmse: 1531.35 + 8.28218
[1200]	cv_agg's rmse: 1530.85 + 8.41917
[1220]	cv_agg's rmse: 1530.37 + 8.32092
[1240]	cv_agg's rmse: 1529.82 + 8.28156
[1260]	cv_agg's rmse: 1529.41 + 8.2671
[1280]	cv_agg's rmse: 1529.06 + 8.14082
[1300]	cv_agg's rmse: 1528.71 + 8.18167
[1320]	cv_agg's rmse: 1528.46 + 8.1341
[1340]	cv_agg's rmse: 1528.11 + 7.93127
[1360]	cv_agg's rmse: 1527.65 + 8.10497
[1380]	cv_agg's rmse: 1527.49 + 8.15775
[1400]	cv_agg's rmse: 1527.2 + 8.11594
[1420]	cv_agg's rmse: 1527.08 + 8.10369
[1440]	cv_agg's rmse: 1526.94 + 7.9888
[1460]	cv_agg's rmse: 1526.81 + 8.02168
[1480]	cv_agg's rmse: 1526.62 + 7.95123
[1500]	cv_agg's rmse: 1526.42 + 7.97693
[1520]	cv_agg's rmse: 1526.18 + 8.03526
[1540]	cv_agg's rmse: 1525.99 + 8.00917
[1560]	cv_agg's rmse: 1525.83 + 8.08875
[1580]	cv_agg's rmse: 1525.78 + 8.0298
[1600]	cv_agg's rmse: 1525.76 + 8.12099
[1620]	cv_agg's rmse: 1525.64 + 8.19832
[1640]	cv_agg's rmse: 1525.51 + 8.2612
[1660]	cv_agg's rmse: 1525.45 + 8.29551
[1680]	cv_agg's rmse: 1525.34 + 8.20456
[1700]	cv_agg's rmse: 1525.22 + 8.02242
[1720]	cv_agg's rmse: 1525.14 + 8.07214
[1740]	cv_agg's rmse: 1525.07 + 8.10268
[1760]	cv_agg's rmse: 1524.93 + 8.0905
[1780]	cv_agg's rmse: 1524.8 + 8.17992
[1800]	cv_agg's rmse: 1524.65 + 8.14868
[1820]	cv_agg's rmse: 1524.5 + 8.16745
[1840]	cv_agg's rmse: 1524.23 + 8.05233
[1860]	cv_agg's rmse: 1524.09 + 8.04041
[1880]	cv_agg's rmse: 1524.02 + 8.00795
[1900]	cv_agg's rmse: 1523.93 + 8.17333
[1920]	cv_agg's rmse: 1523.8 + 8.20057
[1940]	cv_agg's rmse: 1523.62 + 8.17522
[1960]	cv_agg's rmse: 1523.6 + 8.15868
[1980]	cv_agg's rmse: 1523.41 + 8.14478
[2000]	cv_agg's rmse: 1523.42 + 8.21982
CPU times: user 8min 34s, sys: 1.6 s, total: 8min 36s
Wall time: 8min 43s

In [51]:
lgb_params2 = {'metric': 'rmse',
              'objective': 'regression',
             'num_boost_round': 2000,
             'stratified': False,
             'random_state': 12345,
             'max_depth': 6}

In [52]:
%%time
lgb.cv(lgb_params2, lgb_train, verbose_eval=20)

/opt/conda/lib/python3.7/site-packages/lightgbm/engine.py:503: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

[20]	cv_agg's rmse: 1969.37 + 8.81496
[40]	cv_agg's rmse: 1727.32 + 10.5987
[60]	cv_agg's rmse: 1677.04 + 10.5774
[80]	cv_agg's rmse: 1655.56 + 10.7546
[100]	cv_agg's rmse: 1642.13 + 9.62892
[120]	cv_agg's rmse: 1630.5 + 8.94109
[140]	cv_agg's rmse: 1621.53 + 8.06467
[160]	cv_agg's rmse: 1614.44 + 8.4425
[180]	cv_agg's rmse: 1608.01 + 8.70993
[200]	cv_agg's rmse: 1602.87 + 8.95125
[220]	cv_agg's rmse: 1598.6 + 9.18783
[240]	cv_agg's rmse: 1594.88 + 9.17773
[260]	cv_agg's rmse: 1591.4 + 9.7413
[280]	cv_agg's rmse: 1588.85 + 9.82778
[300]	cv_agg's rmse: 1586.56 + 9.78443
[320]	cv_agg's rmse: 1583.96 + 9.6814
[340]	cv_agg's rmse: 1581.82 + 9.32064
[360]	cv_agg's rmse: 1579.39 + 9.44444
[380]	cv_agg's rmse: 1576.85 + 9.51224
[400]	cv_agg's rmse: 1575.21 + 9.28255
[420]	cv_agg's rmse: 1572.84 + 9.12189
[440]	cv_agg's rmse: 1571 + 9.11862
[460]	cv_agg's rmse: 1569.46 + 8.76445
[480]	cv_agg's rmse: 1567.3 + 8.98747
[500]	cv_agg's rmse: 1565.77 + 9.17766
[520]	cv_agg's rmse: 1564.55 + 9.30724
[540]	cv_agg's rmse: 1563 + 9.38227
[560]	cv_agg's rmse: 1561.42 + 9.16883
[580]	cv_agg's rmse: 1559.86 + 9.38637
[600]	cv_agg's rmse: 1558.77 + 9.34434
[620]	cv_agg's rmse: 1557.9 + 9.31293
[640]	cv_agg's rmse: 1557.18 + 9.35107
[660]	cv_agg's rmse: 1556.33 + 9.28832
[680]	cv_agg's rmse: 1555.28 + 9.12466
[700]	cv_agg's rmse: 1554.2 + 9.14798
[720]	cv_agg's rmse: 1553.35 + 9.07746
[740]	cv_agg's rmse: 1552.7 + 9.01513
[760]	cv_agg's rmse: 1551.82 + 8.95393
[780]	cv_agg's rmse: 1550.95 + 8.78095
[800]	cv_agg's rmse: 1550.15 + 9.12467
[820]	cv_agg's rmse: 1549.31 + 8.99524
[840]	cv_agg's rmse: 1548.72 + 8.91366
[860]	cv_agg's rmse: 1548.19 + 8.8804
[880]	cv_agg's rmse: 1547.67 + 8.62149
[900]	cv_agg's rmse: 1547.07 + 8.78346
[920]	cv_agg's rmse: 1546.51 + 8.81419
[940]	cv_agg's rmse: 1545.87 + 8.98685
[960]	cv_agg's rmse: 1545.07 + 8.98831
[980]	cv_agg's rmse: 1544.61 + 8.98515
[1000]	cv_agg's rmse: 1544.06 + 9.15034
[1020]	cv_agg's rmse: 1543.73 + 9.0205
[1040]	cv_agg's rmse: 1543.07 + 9.10316
[1060]	cv_agg's rmse: 1542.63 + 9.37197
[1080]	cv_agg's rmse: 1542.19 + 9.40548
[1100]	cv_agg's rmse: 1541.78 + 9.32372
[1120]	cv_agg's rmse: 1541.42 + 9.40172
[1140]	cv_agg's rmse: 1541.15 + 9.44513
[1160]	cv_agg's rmse: 1540.77 + 9.50662
[1180]	cv_agg's rmse: 1540.31 + 9.53319
[1200]	cv_agg's rmse: 1540.05 + 9.58401
[1220]	cv_agg's rmse: 1539.57 + 9.76959
[1240]	cv_agg's rmse: 1539.36 + 9.724
[1260]	cv_agg's rmse: 1539.21 + 9.73027
[1280]	cv_agg's rmse: 1539.04 + 9.64483
[1300]	cv_agg's rmse: 1538.7 + 9.5225
[1320]	cv_agg's rmse: 1538.44 + 9.44663
[1340]	cv_agg's rmse: 1538.14 + 9.36257
[1360]	cv_agg's rmse: 1537.95 + 9.44067
[1380]	cv_agg's rmse: 1537.72 + 9.49685
[1400]	cv_agg's rmse: 1537.32 + 9.651
[1420]	cv_agg's rmse: 1537.16 + 9.65175
[1440]	cv_agg's rmse: 1536.85 + 9.55967
[1460]	cv_agg's rmse: 1536.78 + 9.4507
[1480]	cv_agg's rmse: 1536.61 + 9.42046
[1500]	cv_agg's rmse: 1536.37 + 9.42844
[1520]	cv_agg's rmse: 1536.19 + 9.39318
[1540]	cv_agg's rmse: 1535.92 + 9.40634
[1560]	cv_agg's rmse: 1535.76 + 9.41124
[1580]	cv_agg's rmse: 1535.49 + 9.41076
[1600]	cv_agg's rmse: 1535.3 + 9.38112
[1620]	cv_agg's rmse: 1535.1 + 9.33996
[1640]	cv_agg's rmse: 1535 + 9.27444
[1660]	cv_agg's rmse: 1534.92 + 9.22913
[1680]	cv_agg's rmse: 1534.65 + 9.30929
[1700]	cv_agg's rmse: 1534.47 + 9.25209
[1720]	cv_agg's rmse: 1534.31 + 9.36396
[1740]	cv_agg's rmse: 1534.13 + 9.34921
[1760]	cv_agg's rmse: 1534.02 + 9.31707
[1780]	cv_agg's rmse: 1533.86 + 9.23806
[1800]	cv_agg's rmse: 1533.73 + 9.16712
[1820]	cv_agg's rmse: 1533.61 + 9.15676
[1840]	cv_agg's rmse: 1533.53 + 9.07697
[1860]	cv_agg's rmse: 1533.52 + 9.01032
[1880]	cv_agg's rmse: 1533.5 + 8.87003
[1900]	cv_agg's rmse: 1533.49 + 8.86295
[1920]	cv_agg's rmse: 1533.48 + 8.84226
[1940]	cv_agg's rmse: 1533.32 + 8.92946
[1960]	cv_agg's rmse: 1533.21 + 8.96172
[1980]	cv_agg's rmse: 1533.12 + 8.94228
[2000]	cv_agg's rmse: 1533.07 + 9.00621
CPU times: user 9min 34s, sys: 1.7 s, total: 9min 36s
Wall time: 9min 43s

Лучшая модель обучилась при max_depth=12 и  num_boost_round=2000, делать большее количество итераций не имеет смысла, так как далее модель будет переобучаться.

Далее протестируем выбранные модели на тестовой выборке и проанализируем их скорость работы.

# 3. Анализ моделей

In [85]:
model_catboost = CatBoostRegressor(iterations=500,
         depth=12,
         loss_function='RMSE',
          learning_rate=0.1,
         verbose=20,
         random_state=12345)

In [86]:
%%time
model_catboost.fit(cv_cars)

0:	learn: 4250.3314892	total: 2.12s	remaining: 17m 38s
20:	learn: 1896.8860890	total: 42.9s	remaining: 16m 18s
40:	learn: 1672.6548981	total: 1m 26s	remaining: 16m 9s
60:	learn: 1615.5542228	total: 2m 10s	remaining: 15m 36s
80:	learn: 1574.4979440	total: 2m 56s	remaining: 15m 10s
100:	learn: 1545.5967848	total: 3m 44s	remaining: 14m 44s
120:	learn: 1520.2819612	total: 4m 31s	remaining: 14m 10s
140:	learn: 1495.4457260	total: 5m 17s	remaining: 13m 27s
160:	learn: 1476.9388231	total: 6m 4s	remaining: 12m 47s
180:	learn: 1464.4025942	total: 6m 51s	remaining: 12m 5s
200:	learn: 1448.9893512	total: 7m 35s	remaining: 11m 17s
220:	learn: 1435.9185533	total: 8m 25s	remaining: 10m 38s
240:	learn: 1422.6776386	total: 9m 15s	remaining: 9m 56s
260:	learn: 1410.9955395	total: 10m 2s	remaining: 9m 11s
280:	learn: 1399.5139431	total: 10m 48s	remaining: 8m 25s
300:	learn: 1389.1265998	total: 11m 38s	remaining: 7m 41s
320:	learn: 1380.2239315	total: 12m 27s	remaining: 6m 56s
340:	learn: 1371.3298503	total: 13m 16s	remaining: 6m 11s
360:	learn: 1361.2004844	total: 14m 6s	remaining: 5m 25s
380:	learn: 1353.4415654	total: 14m 57s	remaining: 4m 40s
400:	learn: 1347.0629892	total: 15m 47s	remaining: 3m 53s
420:	learn: 1342.3107298	total: 16m 36s	remaining: 3m 6s
440:	learn: 1335.3670121	total: 17m 25s	remaining: 2m 19s
460:	learn: 1328.2266983	total: 18m 15s	remaining: 1m 32s
480:	learn: 1322.5035268	total: 19m 5s	remaining: 45.2s
499:	learn: 1317.0189419	total: 19m 51s	remaining: 0us
CPU times: user 18min 44s, sys: 1min 9s, total: 19min 54s
Wall time: 19min 57s

In [87]:
%%time
predict = model_catboost.predict(pool_test)

CPU times: user 1.59 s, sys: 32.1 ms, total: 1.62 s
Wall time: 1.6 s

In [88]:
rmse_cat = mean_squared_error(target_test, predict)**.5
rmse_cat

1552.0264901942107

In [71]:
features_test_lgb = features_test.copy()
features_test_lgb[cat_columns] = features_test_lgb[cat_columns].astype('category')

In [80]:
lgb_params_test = {'metric': 'rmse',
              'objective': 'regression',
             #'num_boost_round': 2000,
             'stratified': False,
             'random_state': 12345,
             'max_depth': 12,
             'learning_rate': 0.1}

In [81]:
%%time
bst = lgb.train(lgb_params_test, lgb_train, num_boost_round=2000)

CPU times: user 2min 7s, sys: 402 ms, total: 2min 7s
Wall time: 2min 9s

In [82]:
%%time
predictions_lgb = bst.predict(features_test_lgb, num_iteration=bst.best_iteration)

CPU times: user 22.3 s, sys: 0 ns, total: 22.3 s
Wall time: 22.2 s

In [84]:
rmse_lgb = mean_squared_error(target_test, predictions_lgb)**.5
rmse_lgb

1523.455769415674

### Вывод

Catboost почти в 15 быстрее LightGBM делает предсказания (1.6 с и 22 с соответственно), однако время обучения модели Catboost значительно отстает: 20 мин против 2 мин у LGBM, при этом метрика rmse у LGBM ниже (лучше) чем у Catboost: rmse_lgb = 1523, rmse_cat = 1552. Возможно если увеличить количество итераций в обучении модели от Catboost ее качество будет лучше, но при этом и без того большое время обучения еще больше возрастет.